<!-- List all belief connections for a given belief -->


<!DOCTYPE html>
<meta charset="utf-8">
<style>

.link {
  stroke: #ccc;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
}

</style>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://underscorejs.org/underscore.js"></script>
<body>
<div class="row">
  <div class="col-lg-10 graph">
<script>
var width = 960,
    height = 500

var svg = d3.select(".graph").append("svg")
    .attr("width", width)
    .attr("height", height);

var force = d3.layout.force()
    .gravity(.05)
    .distance(350)
    .charge(-10)
    .size([width, height]);

d3.json("/beliefs/filter.json", function(error, json) {
  var edges = [];
    json.connections.forEach(function(e) {
    var sourceBelief = json.beliefs.filter(function(n) { return n.id === e.source; })[0],
    targetBelief = json.beliefs.filter(function(n) { return n.id === e.target; })[0];

    edges.push({source: sourceBelief, target: targetBelief, value: e.value});
    });

  force
      .nodes(json.beliefs)
      .links(edges)
      .start();

  var link = svg.selectAll(".link")
      .data(edges)
      .enter().append("line")
      .attr("class", "link")
      .style("opacity", function(d) { return d.value / 10;})
      .style("stroke-width", function(d) { if (d.value > 3) {return d.value ;}; });

  var node = svg.selectAll(".node")
      .data(json.beliefs)
      .enter().append("g")
      .attr("class", "node")
      .call(force.drag);

  node.append("circle")
      // .data(json.nodes)
      // .enter()
      .attr("x", -8)
      .attr("y", -8)
      .attr("r", function(d) { return d.count * 2; })
      .attr("width", 16)
      .attr("height", 16);

  node.append("text")
      .attr("dx", 12)
      .attr("dy", ".35em")
      .style("fill", "blue")
      .text(function(d) { return d.name });

  d3.selectAll("circle").on("click", function(){
            d3.select(this).attr('r', 25)
                .style("fill","lightcoral")
                .style("stroke","red");
        });

  force.on("tick", function() {
    link.attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
  });
});

</script>
</div>
<div class="col-lg-2 toolbar">
  <h3>Toolbar</h3>
  <hr>
  <ul>
    <li>Add a Belief</li>
    <li>Remove Selected Belief</li>
    <li>Take a Survey
      <ul>
        <li>Philosophy</li>
        <li>Politics</li>
        <li>Religion</li>
      </ul>
    </li>
  </ul>
  <hr>
  <ul>
    <li>Filter by
      <ul>
        <li>Gender</li>
        <li>Age</li>
        <li>Location</li>
        <li>Religious Affiliation</li>
      </ul>
    </li>
  </ul>
  <hr>
  <ul>
    <li>Sign Up</li>
    <li>Add Demographics</li>
    <li>Share your Map</li>
  </ul>
</div>

</div>
