<!DOCTYPE html>
<meta charset="utf-8">
<style>

.link {
  stroke: #ccc;
}

.node text {
  pointer-events: none;
  font: 18 px sans-serif;
}

</style>
<body>
<% if (defined?(@results)).nil? %>
  <%= render partial: "/beliefs/main_topbar", locals: { belief: @belief } %>
  <hr>
<% end %>

<!-- GRAPH DIV BEGINS HERE -->
<div class="row">
  <div class="col-lg-10 graph users-graph">
    <% if (defined?(@results)).nil? %>
    <span id="users-text" class="lead">
<p>Displaying all your beliefs</p>
</span>
<script>
   $(function() {
      renderD3WebUser();
   });
</script>
<% else %>
  <div class="results">
    <%= render partial: "/beliefs/results_table", locals: { results: @results } %>
  </div>
<% end %>
</div>

<!-- TOOLBAR DIV -->
<div class="col-lg-2 toolbar">
  <%= render partial: "beliefs/side_toolbar" %>
</div>

<div>
  <%= render partial: "beliefs/graph_explanation" %>
</div>

