<h1>Viewing Someone Else's Belief Map</h1>
<h3>Sign Up to Create Your Own</h3>
<div class="row">
  <div class="graph users-graph">
      <script>
         $(function() {
            renderD3WebUser();
         });
      </script>
  </div>
</div>

<div>
  <%= render partial: "beliefs/graph_explanation" %>
</div>
