<h1>About Belief Mapper</h1>
<h4>Written by Alex Antonow</h4><br>

<div class="col-md-12 lead">

<h4>Origin</h4>
<p>Belief Mapper started out as a final project at <a href="http://devbootcamp.com/">Dev Bootcamp</a> in Chicago on November 26th, 2014. The bulk of the site was built in 8 days by Gina Krieb, Patrick Grenning, Peter Soderberg, and myself. Since then, I have been working on optimizing the site and adding features.</p><br>

<h4>Privacy</h4>
<p>Your personal information is never displayed alongside your beliefs. I also promise never to sell the data collected on this site. This is a not-for-profit personal project.</p><br>

<h4>Ways to Contribute</h4>
<ul>
	<li>If you don't like the way a term is defined or don't see an important belief (does not have to end in -ism), please post something on the <a href="/comments">discussion board</a> (must be logged in).</li>
	<li>If you discover a bug, leave a message on the <a href="/comments">discussion board</a> or open an issue on <a href="https://github.com/antonow/belief-mapper">GitHub</a>.</li>
	<li>If you're a developer and would like to help building out the site further, you can make changes and create a pull request on <a href="https://github.com/antonow/belief-mapper">GitHub</a>.</li>
	<li>Donations are greatly appreciated. I am hosting the website with my own savings, and it costs about $50 a month to keep online. Better yet, if you're looking to hire a developer, contact me at alex[at]beliefmapper[dot]com :) 
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHTwYJKoZIhvcNAQcEoIIHQDCCBzwCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYCcN9IGQMVRcgAx0Ezx/BpZKE2PtzJgrooih3TD/U94f8sJd56SGtQO53lnJswT308J8YLTQtu20nLrMGcaDvrvLC6wyOMXKe6s+AZ3UURjxJY9xW+FYLSfNntViVHgpj4yoPzZ9YKFYdc+fUTV5ipNdRbjcizDiiz8b11j/zPk0zELMAkGBSsOAwIaBQAwgcwGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQId1MMewOm/ByAgaiuQsvEsUfNoks0Li3J3i7B6iYGfXlsjvwoj7uyQsjVNw082rzOjduxQJf+3YcKmhJFZjy+qBEjoPX0ZHPwAFTJtgDS1ytqYIRd1IYkyzbodHTCG/lfNOd53PzPFv0ZDWkkL2Fq20LLpydhhsq6cCe6IiemHRBZo1xqE2EPd87BhyeYSsQIZI99rz3GW/IOM81qx5glBL7bfOrb4u0euPK6ZwFeyMAFDWKgggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xNDEyMjkwMjU2MTlaMCMGCSqGSIb3DQEJBDEWBBQlcNvlGTDj3CDDQ6X3TksRrFl/mjANBgkqhkiG9w0BAQEFAASBgLwHWMOsraznqArymDoBE+ME+V6YPzv8OOYtk9pBH5JTRrlXht9lUqNvn8uIEjMzC4LxM2mawVNRrbzx2/v7iDdrwwnjWjgf3aGVpxZ51Ik3Sfvb37A04U05j6MpF73f/VSLezYRyeV+jmpJYDMaJ3g+n4x2+lCgczrEgYWzZZ0c-----END PKCS7-----
	">
	<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
	<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
	</form></li>
</ul><br>

<h4>Upcoming Features</h4>
	<p>Come back soon because I'm constantly working on new features. The following are currently on my to-do list:</p>
	<ul>
		<li>Graph displaying each belief's popularity and average conviction over time</li>
		<li>Tag yourself to share information other than that asked in the demographics questions (e.g. "student of philosophy" or "professor of philosophy")</li>
		<li>Notifications when somebody replies to your comments</li>
		<li><strike>Reply-to specific comments</strike></li>
	</ul>
	<br>
</div>