<div class="jumbotron">
  <h1>Belief Mapper</h1>
  <p>Create a visual web of your beliefs. Categorize your belief system.</p>
  <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Get Started Now</a></p> -->

  <hr>
  <% @count = 0 %>
  <!-- <p>Answer 3 more questions to see your map</p> -->
  <h3>Question</h3>
  <% display = @belief.definition %>
  <% display += "in the " unless ['belief', 'doctrine'].include?(display.split(' ').first) %>
  <% display = display.sub(/belief /, "").sub(/doctrine /, "") %>
  Do you believe <%= display %>?
  <!-- + " - " + @belief.id.to_s -->
  <br>
  <br>
  <%= render partial: "/beliefs/slider_form", locals: { belief: @belief } %>
</div>
