<div class="jumbotron">
  <h1>Life Examined</h1>
  <p>Create a visual web of your beliefs. Categorize your belief system.</p>

  <hr>
  <h3>Question</h3><br>
  <div class="refresh row lead question_div question_display">
  <% display = @belief.definition %>
  <% display = "in the " + display unless ['belief', 'doctrine', 'theory'].include?(display.split(' ').first) %>
  <% display = display.sub(/belief /, "").sub(/doctrine /, "").sub(/theory /, "") %>
  <p>Do you believe <%= display %>?</p>
  <!-- + " - " + @belief.id.to_s -->
  <%= render partial: "/beliefs/slider_form", locals: { belief: @belief } %>
  <a href="#" id="refresh_this" class="btn btn-primary submit skip" role="button">Skip</a>
  <script type="text/javascript">bindRefreshButton();</script>
  </div>

</div>

<%= render partial: "/beliefs/graph_explanation" %>
