<div class="jumbotron">
  <h1>Belief Mapper</h1>
  <p>Create a visual web of your beliefs. Categorize your belief system, manually or via a questionnaire.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Get Started Now</a></p>

  <hr>
  <h3>Question</h3>

  Do you believe <%= Belief.all.sample.definition.sub(/belief /, "").sub(/doctrine /, "") %>?
  <br>
  <br>
  <form method="post" action="demoform.asp">
    <input type="range" name="conviction" id="conviction" value=0 min=0 max=100 list='levels' oninput="outputUpdate(value)">
<!--     <datalist id='levels'>
      <option>0</option>
      <option>50</option>
      <option>100</option>
    </datalist>
 -->    <output for='conviction' id='level'></output>
    <div id='options'>
    <div class='col-lg-4 col-md-4 col-sm-4' id='1'>Not at all</div>
    <div class='col-lg-4 col-md-4 col-sm-4' id='2'>I kinda believe that</div>
    <div class='col-lg-4 col-md-4 col-sm-4' id='3'>Core belief</div>
    </div>
    <!-- <input type="submit" data-inline="true" value="Submit"> -->
    <br>
    <script>
      function outputUpdate(level) {
        $('#1').css("font-weight", "bold")
        $('#2').css("font-weight", "normal")
        $('#2').css("font-weight", "normal")

        if (level > 95) {
          $('#1').css("font-weight", "normal")
          $('#2').css("font-weight", "normal")
          $('#3').css("font-weight", "bold")
        } else if (level > 5) {
          $('#1').css("font-weight", "normal")
          $('#2').css("font-weight", "bold")
          $('#3').css("font-weight", "normal")
        };
        // document.querySelector('#level').value = phrase;
      }
    </script>
    <button type="submit" class="btn btn-success centered">Submit</button>
    </form>

</div>




<!-- List all belief connections for a given belief -->
<p>Between _________ and __________ there are __ many connections</p>
<% @connection_hash.each do |names, count| %>
  <%= names + " - " + (count / 2).to_s %><br>
<% end %>

<hr>





<% Belief.all.each do |belief| %>
  <br><%= belief.name + " - " + belief.users.count.to_s %>
  <!-- <p>Connections to:</p> -->

<% end %>
<hr>

