<script type= "text/javascript" src = "countries.js"></script>

<h2>Demographics (optional)</h2>
<hr><br>

<%= form_for(:demographic, url: demographic_path(@demographic), html: { method: :put }) do |f| %>
  <%= render partial: "form", locals: { f: f } %>
<% end %>
