<script type= "text/javascript" src = "countries.js"></script>

<h2>Demographics (optional)</h2>
<hr><br>

<%= bootstrap_form_for :demographic, layout: :inline, url: demographics_path do |f| %>

  <%= render partial: "form", locals: { f: f } %>

<% end %>
