<hr>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
<!--        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
 -->          <h3>What is Belief Mapper?</h3>
        </a>
      </h4>
    </div>
<!--     <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
 -->      <div class="panel-body lead">
        Belief mapper is an interactive tool that allows you to create a visual map of your beliefs.  Find out what your beliefs are by answering questions. Belief mapper keeps track of your beliefs and shows trends in how people share related beliefs.
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
<!--         <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
 -->          <h3>How the Graph Works</h3>
        </a>
      </h4>
    </div>
<!--     <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
 -->      <div class="panel-body lead">
        <p><strong>Nodes </strong>represent beliefs.</p>
        <p><strong>The size of nodes </strong>represent the number of people who share that belief.  The more people who hold the belief the larger the node.</strong></p>
        <p><strong>Connectors </strong>represent a link between two beliefs.  The more frequently people hold two beliefs in common the thicker the connector lines.</p>
        <p><strong>Colors of nodes </strong>identify which beliefs you have voted on.  The more intense the color the stronger your conviction in that belief.</p>
        <p>
            <svg height="50" width="200">
              <circle cx="10" cy="25" r="10" fill="hsl(30, 40%, 50%)" />
              <circle cx="40" cy="25" r="10" fill="hsl(25, 50%, 50%)" />
              <circle cx="70" cy="25" r="10" fill="hsl(20, 60%, 50%)" />
              <circle cx="100" cy="25" r="10" fill="hsl(15, 70%, 50%)" />
              <circle cx="130" cy="25" r="10" fill="hsl(10, 80%, 50%)" />
              <circle cx="160" cy="25" r="10" fill="hsl(5, 90%, 50%)" />
            </svg>
        </p>
      </div>
     </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
<!--         <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
 -->          <h3>Getting Started</h3>
        </a>
      </h4>
    </div>
<!--     <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
 -->      <div class="panel-body lead">
        <p>Simply answer questions using the slider above.   The more questions you answer the more information we can display and the better the data is for everybody.</p>
        <p></p>


      </div>
    </div>
  </div>
</div>

  <!-- CODE FOR QUESTION MARK ICON AND POPUP -->
<!--   <a href="#" tabindex="0" id="graph_explanation"
  data-toggle="popover" data-trigger="focus" data-placement="top" data-content="Each node represents a belief.  The size of the nodes represent the number of people who share that belief.  The width of the connecting lines between nodes represent the number of people who share those two beliefs.  The color of the node represent represents how strongly you believe in a particular belief.  ">
  <button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
  </button>
  </a>
  <script>
    $('#graph_explanation').popover()
  </script>
 -->

