
<hr>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <h2>How Belief Mapper Works</h2>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        Belief mapper is an interactive tool that allows users to create a visual map of your beliefs.


        <h4>Nodes <small>represent beliefs.</small></h4>
        <h4>Size of nodes <small>represent the number of people who share that belief.  The more people who have that belief the larger the node.</small></h4>
        <h4>Connectors <small>represent a link between two beliefs.  The more people hold two common beliefs, the thicker the connector line.</small></h4>
        <h4>Color of nodes <small>identify which beliefs you have voted on.  The darker the color the stronger your conviction in that belief.</small></h4>
      </div>
    </div>


  </div>


  <!-- CODE FOR QUESTION MARK ICON AND POPUP -->
<!--   <a href="#" tabindex="0" id="graph_explanation"
  data-toggle="popover" data-trigger="focus" data-placement="top" data-content="Each node represents a belief.  The size of the nodes represent the number of people who share that belief.  The width of the connecting lines between nodes represent the number of people who share those two beliefs.  The color of the node represent represents how strongly you believe in a particular belief.  ">
  <button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
  </button>
  </a>

  <script>
    $('#graph_explanation').popover()
  </script>
 -->