  <!-- QUESTION DIV BEGINS HERE -->
  <div class="row">
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-3 lead" >
    <% @belief = current_user.unexamined_beliefs.sample %>
    <p>Do you believe <%= @belief.definition.sub(/belief /, "").sub(/doctrine /, "")%>?</p>
    </div>
  <!-- </div> -->

    <!-- CONVICTION SLIDER DIV -->
    <!-- <div class="row"> -->
    <div class="col-md-9">
      <%= render partial: "slider_form", locals: { belief: @belief } %>
    </div>
  </div>

<!-- PROGRESS BAR DIV BEGINS HERE -->
<%= render partial: "progress_bar" %>
