<%= form_for :user_belief, url: user_beliefs_path do |f| %>
<% f.hidden_field :belief %>
  <div class='col-lg-10 col-md-10 col-sm-10 lead'>
  <div id='options'>
    <div class='col-lg-4 col-md-4 col-sm-4' id='not-at-all'>Not at all</div>
    <div class='col-lg-4 col-md-4 col-sm-4' id='somewhat'>Somewhat</div>
    <div class='col-lg-4 col-md-4 col-sm-4' id='core-belief'>Core belief</div>
  </div>
  <input type="hidden" name="belief" id="belief_id" value=<%= belief %>>
  <input type="range" name="conviction" id="conviction" value=0 min=0 max=100 list='levels' oninput="outputUpdate(value)">
  <output for='conviction' id='level'></output>
  </div>
  <div class="col-md-2 slider_buttons" >
  <button class="btn btn-primary submit slider-submit">Submit</button>
  <script type="text/javascript">bindSubmitButton()</script>
  </div>
  <% end %>
