<!DOCTYPE html>
<meta charset="utf-8">
<style>

.link {
  stroke: #ccc;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
}

</style>
<body>
<div>
  <h3>Question</h3>
  <% @belief = Belief.all.sample %>
  Do you believe <%= @belief.definition.sub(/belief /, "").sub(/doctrine /, "") + " - " + @belief.id.to_s %>?
  <br>
  <br>
  <!-- <form method="post" action=""> -->
  <%= form_for :user_belief, url: user_beliefs_path do |f| %>
  <% f.hidden_field :belief %>
    <input type="hidden" name="belief" value=<%=@belief.id%>>
    <input type="range" name="conviction" id="conviction" value=0 min=0 max=100 list='levels' oninput="outputUpdate(value)">
<!--     <datalist id='levels'>
      <option>0</option>
      <option>50</option>
      <option>100</option>
    </datalist>
 -->    <output for='conviction' id='level'></output>
    <div id='options'>
    <div class='col-lg-4 col-md-4 col-sm-4' id='1'>Not at all</div>
    <div class='col-lg-4 col-md-4 col-sm-4' id='2'>I kinda believe that</div>
    <div class='col-lg-4 col-md-4 col-sm-4' id='3'>Core belief</div>
    </div>
    <!-- <input type="submit" data-inline="true" value="Submit"> -->
    <br>
    <script>
     $(function() {
        outputUpdate(level);
     });
    </script>
    <button type="submit" class="btn btn-success centered">Submit</button>
    <!-- </form> -->
    <% end %>
</div>
<hr>
<div class="row">
  <div class="col-lg-10 graph">
<script>
   $(function() {
      renderD3WebAll();
   });
</script>
<div id="selected_node" hidden></div>
</div>
<div class="col-lg-2 toolbar">
  <h3>Toolbar</h3>
  <hr>
  <ul>
    <li>Add a Belief</li>
    <li>Remove Selected Belief</li>
    <li>Take a Survey
      <ul>
        <li>Philosophy</li>
        <li>Politics</li>
        <li>Religion</li>
      </ul>
    </li>
  </ul>
  <hr>
  <ul>
    <li>Filter by
      <ul>
        <li>Gender</li>
        <li>Age</li>
        <li>Location</li>
        <li>Religious Affiliation</li>
      </ul>
    </li>
  </ul>
  <hr>
  <ul>
    <li>Sign Up</li>
    <li>Add Demographics</li>
    <li>Share your Map</li>
  </ul>
</div>

</div>
