<!DOCTYPE html>
<meta charset="utf-8">
<style>

.link {
  stroke: #ccc;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
}

</style>
<body>
<% if (defined?(@results)).nil? %>
  <%= render partial: "main_topbar", locals: { belief: @belief } %>
  <hr>
<% end %>

<!-- GRAPH DIV BEGINS HERE -->
<div class="row">
  <div class="col-lg-10 graph">
    <% if (defined?(@results)).nil? %>
<script>
   $(function() {
      renderD3Web();
   });
</script>
<div id="selected_node" hidden></div>
<% else %>
  <%= render partial: "results_table", locals: { results: @results } %>
<% end %>
</div>

<!-- TOOLBAR DIV -->
<div class="col-lg-2 toolbar">
  <%= render partial: "side_toolbar" %>
</div>

