<!DOCTYPE html>
<meta charset="utf-8">
<style>

.link {
  stroke: #ccc;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
}

</style>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://underscorejs.org/underscore.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/jquery.tipsy/1.0.2/jquery.tipsy.js'></script>
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.tipsy/1.0.2/jquery.tipsy.css" type="text/css" />
<body>
<div>
  <h3>Question</h3>
  <% @belief = current_user.unexamined_beliefs.sample %>
  Do you believe <%= @belief.definition.sub(/belief /, "").sub(/doctrine /, "") + " - " + @belief.id.to_s %>?
  <br>
  <br>
  <!-- <form method="post" action=""> -->
  <%= form_for :user_belief, url: user_beliefs_path do |f| %>
  <% f.hidden_field :belief %>
    <input type="hidden" name="belief" value=<%=@belief.id%>>
    <input type="range" name="conviction" id="conviction" value=0 min=0 max=100 list='levels' oninput="outputUpdate(value)">
<!--     <datalist id='levels'>
      <option>0</option>
      <option>50</option>
      <option>100</option>
    </datalist>
 -->    <output for='conviction' id='level'></output>
    <div id='options'>
    <div class='col-lg-4 col-md-4 col-sm-4' id='1'>Not at all</div>
    <div class='col-lg-4 col-md-4 col-sm-4' id='2'>I kinda believe that</div>
    <div class='col-lg-4 col-md-4 col-sm-4' id='3'>Core belief</div>
    </div>
    <!-- <input type="submit" data-inline="true" value="Submit"> -->
    <br>
    <script>
      function outputUpdate(level) {
        $('#1').css("font-weight", "bold")
        $('#2').css("font-weight", "normal")
        $('#2').css("font-weight", "normal")

        if (level > 95) {
          $('#1').css("font-weight", "normal")
          $('#2').css("font-weight", "normal")
          $('#3').css("font-weight", "bold")
        } else if (level > 5) {
          $('#1').css("font-weight", "normal")
          $('#2').css("font-weight", "bold")
          $('#3').css("font-weight", "normal")
        };
        // document.querySelector('#level').value = phrase;
      }
    </script>
    <button type="submit" class="btn btn-success centered">Submit</button>
    <!-- </form> -->
    <% end %>
</div>
<hr>
<div class="row">
  <div class="col-lg-10 graph">
<script>
 $(function() {
   $('a[rel=tipsy]').tipsy({fade: true, gravity: 'n'});
 });

var width = 960,
    height = 600

var svg = d3.select(".graph").append("svg")
    .attr("width", width)
    .attr("height", height);

var force = d3.layout.force()
    .gravity(.5)
    .distance(350)
    .charge(-10)
    .size([width, height]);

d3.json("/beliefs.json", function(error, json) {
  var edges = [];
    json.connections.forEach(function(e) {
    var sourceBelief = json.beliefs.filter(function(n) { return n.id === e.source; })[0],
    targetBelief = json.beliefs.filter(function(n) { return n.id === e.target; })[0];

    edges.push({source: sourceBelief, target: targetBelief, value: e.value});
    });

  force
      .nodes(json.beliefs)
      .links(edges)
      .start();

  var link = svg.selectAll(".link")
      .data(edges)
      .enter().append("line")
      .attr("class", "link")
      .style("opacity", function(d) { return d.value / 10;})
      .style("stroke-width", function(d) { if (d.value > 3) {return d.value ;}; });

  var node = svg.selectAll(".node")
      .data(json.beliefs)
      .enter().append("g")
      .attr("class", "node")
      .call(force.drag);

  node.append("circle")
      // .data(json.nodes)
      // .enter()
      .attr("x", -8)
      .attr("y", -8)
      .attr("id", function(d) { return d.id;})
      .attr("def", function(d) { return d.definition;})
      .attr("r", function(d) { return d.count * 2; })
      .style("fill", function(d) { return d.color })
      .attr("width", 16)
      .attr("height", 16);

  node.append("text")
      .attr("dx", 12)
      .attr("dy", ".35em")
      .style("fill", "blue")
      .text(function(d) { return d.name });

  node.on("click", function (d) {
        $('#selected_node').html(d.id);
        link.style('stroke-width', function(l) {
            if (d === l.source || d === l.target)
              return l.value;
            else
              return 0;
        })
        link.style('stroke', function(l) {
            if (d === l.source || d === l.target)
              return "red";
            else
              return "#ccc";
        });
  });

// TRYING TO TURN TIPSY OFF WHEN MOUSEDOWN

  // var timeout = null
  // $('.node').mousedown(function () {
  //   $('.node').tipsy('disable')

  //   timeout = setInterval(function () {
  //   $('.node').tipsy('disable')
  //   }, 500);

  //   return false;
  //   });
  //   $('.node').mouseup(function () {
  //       clearInterval(timeout);
  //       return false;
  //   });
  //   $('.node').mouseout(function () {
  //       clearInterval(timeout);
  //       return false;
  //   });

  node.on("dblclick", function(d) {
    link.style('stroke-width', function(l) {
      return l.value;
    })
    link.style('stroke', '#ccc');
  });

  $('.node').tipsy({
        gravity: 'n',
        html: true,
        title: function() {
          var def = this.getElementsByTagName("circle")[0].getAttribute("def");
          return def;
        }
      });

  // d3.selectAll("circle").on("click", function(){
  //           // d3.select(this).attr('r', 25)
  //             d3.select(this).style("fill","lightcoral")
  //               .style("stroke","red");
  //       });

  force.on("tick", function() {

    link.attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });

  });

});


</script>
<div id="selected_node" hidden></div>
</div>
<div class="col-lg-2 toolbar">
  <h3>Toolbar</h3>
  <hr>
  <ul>
    <li>Add a Belief</li>
    <li>Remove Selected Belief</li>
    <li>Take a Survey
      <ul>
        <li>Philosophy</li>
        <li>Politics</li>
        <li>Religion</li>
      </ul>
    </li>
  </ul>
  <hr>
  <ul>
    <li>Filter by
      <ul>
        <li>Gender</li>
        <li>Age</li>
        <li>Location</li>
        <li>Religious Affiliation</li>
      </ul>
    </li>
  </ul>
  <hr>
  <ul>
    <li>Sign Up</li>
    <li>Add Demographics</li>
    <li>Share your Map</li>
  </ul>
</div>

</div>
